.pagination {
  display: flex;
  width: 40px;
  justify-content: space-between;
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: auto;
}

.step {
  width: 6px;
  height: 6px;
  opacity: 0.5;
  background-color: #57aee0;
  border-radius: 3px;
}

.stepActive {
  opacity: 1;
}
