.loading {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
}

.colorPrimary {
  background-color: $colorBattleshipGrey;
}

.barColorPrimary {
  background-color: $colorPaleGreyThree;
}
