.fieldContainer {
  width: 100%;
}

.field {
  display: flex;
  align-items: flex-end;
  max-width: 600px;
}

.fieldIcon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: $colorGray;
}

.helpText {
  font-size: 14px;
  margin-top: 5px;
  color: $colorGray;
}

.nextButton {
  color: #4a90e2;
  border: 2px solid #4a90e2;
  min-width: 90px;
  padding: 5px;
  border-radius: 4px;
  margin-top: 50px;
  font-weight: 500;
}

.nextButtonDisabled {
  opacity: 0.5;
}

.messageError {
  margin-top: 20px;
  color: $colorRed;
}
