.header {
  width: 100%;
  height: 52px;
  min-width: 1160px;
  background: #fafbfc;
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
}

.iconToolsContainer {
  display: flex;
}

.buttonLogo {
  padding: 0px;
  margin: 0px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 0px;
  color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 46px;
  z-index: 1;
}

.helpButtom {
  display: flex;
  align-items: center;
}

.imgLogo {
  width: 16px;
  z-index: 0;
  padding-right: 1px;
}

.headerToolsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.link {
  padding: 0px;
  margin: 0px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 0px;
  color: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textTitle {
  color: #bfbebf;
  font-weight: 300;
  font-size: 15px;
  margin: 0px 10px;
}

.textDescription {
  color: #bfbebf;
  font-size: 15px;
  margin: 0px 10px 0px 10px;
}

.textDescriptionSelected {
  color: #646464;
  font-size: 15px;
  font-weight: 500;
  margin: 0px 15px 0px 10px;
}

.imgArrow {
  font-size: 22px;
  color: #bfbebf;
}

.iconWithTexContainer {
  display: flex;
  align-items: center;
}

.headerUsersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerUsers {
  display: flex;
  justify-content: space-between;
  height: 70%;
  margin-right: 20px;
}

.questionIcon {
  height: 40px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-left: 15px;
  border-left: 1px solid #979797;
}

.imgQuestion {
  height: 25px;
}

.textDescriptionSmall {
  color: #6e6f6f;
  font-weight: 600;
  font-size: 13px;
  margin: 0px 10px 0px 12px;
}

/* There are different size images classes,
because the true icons are not done yet. */

.imgFolderBlue {
  width: 19px;
  height: 17px;
}

.buttonImgMenu {
  padding: 0px;
  margin: 0px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 0px;
  color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menuIcon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBreadcrumbsSystem {
  width: 19px;
  height: 24px;
}

.imgMedium {
  height: 30px;
}

.imgMenu {
  height: 100%;
  width: 52px;
}

.avatar {
  height: 32px;
  width: 32px;
  margin-left: 5px;
  border-radius: 10px;
  border: 2px solid;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media print {
  .header {
    display: none;
  }
}

.moreVerticalIcon {
  font-size: 24px !important;
  color: $colorGrayDove;
}

.arrow {
  position: absolute;
  font-size: 7px;
  width: 3em;
  top: 0;
  left: 0;
  margin-top: -0.9em;
  height: 1em;
  z-index: 11;

  &::before {
    content: "";
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-width: 0 1em 1em 1em;
    border-color: transparent transparent white transparent;
    border-style: solid;
  }
}

.popper {
  z-index: 11;
}

.contextMenuItem {
  height: 24px;
  padding-top: 4px !important;
  padding-bottom: 5px !important;
}

.contextMenuIcon {
  transform: scale(0.8);
}

.contextMenuTitle {
  font-size: 13px;
  font-weight: 500;
  color: #626262;
  padding-left: 1em;
}
