.topSection {
  height: 120px;
  min-height: 120px;
  border-bottom: 1px solid #d8e5ee;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 1160px;
}

.title {
  font-size: 28px;
  font-weight: normal;
  line-height: 1.57;
  letter-spacing: -0.4px;
  color: #313d4a;
}

.showingText {
  font-size: 14px;
  font-weight: normal;
  color: #313d4a;
  margin-left: 12px;
  letter-spacing: 0.1px;
}

.showingNumber {
  color: #4a90e2;
}

.filters {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.input {
  width: 180px !important;
  height: 26px !important;
  border-radius: 2px !important;
  background-color: #f4f5f7 !important;
  border: solid 1px #cad1d8 !important;
  font-size: 12px !important;
  padding: 0 !important;
  padding-left: 10px !important;
  opacity: 0.6;
  color: #98a2ab;
}

.filterButton {
  padding: 0 !important;
  width: 50px !important;
  min-width: 50px !important;
  height: 24px !important;
  min-height: 24px !important;
  text-transform: none !important;
}

.filterContainer {
  display: flex;
  align-items: baseline;
  margin-left: 20px;
}

.filterButtonLabel {
  font-weight: 500 !important;
  font-size: 12px !important;
}

.filterName {
  font-size: 12px;
  color: #313d4a;
}

.arrowIcon {
  font-size: 18px !important;
}

.newRoleButtonContainer {
  flex-grow: 1;
  text-align: right;
}

.newRoleButton {
  width: 100px !important;
  height: 26px !important;
  min-height: 26px !important;
  border-radius: 4px !important;
  box-shadow: inset -1px 1px 0 0 rgba(255, 255, 255, 0) !important;
  background-color: #0093ee !important;
  padding: 0 !important;
}

.newRoleLabel {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: none;
}
