.invitationsContent {
  height: 720px;
  position: relative;
}

.rightBackground {
  width: 40vw;
  height: 100vh;
  position: absolute;
  right: 0;
  background-size: cover;
  background-position: right;
}

.logo {
  position: absolute;
  margin: 50px;
}

.content {
  width: 60vw;
  height: 100vh;
  padding: 10% 8%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.content h1 {
  margin-bottom: 0.3em;
}

.newProductionButton {
  color: #4a90e2 !important;
  border: 2px solid #4a90e2 !important;
  padding: 10px 45px !important;
  min-height: 44px !important;
  border-radius: 4px !important;
  margin-top: 10px !important;
  font-weight: 500 !important;
}

.invitationsContainer {
  width: 100%;
  margin-top: 40px;
  height: 538px;
  overflow-y: scroll;
}

.invitation {
  width: 100%;
  padding: 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.invitation:not(:last-child) {
  border-bottom: 1px solid $colorGrayLight;
}

.invitation h3 {
  margin: 1.5rem 0 0;
  font-weight: normal;
  font-size: 1.4rem;
}

.invitationContent {
  padding: 0 30px;
  max-width: 400px;
}

.invitationPoster {
  width: 135px;
  height: 200px;
}

.sender span {
  color: $colorTheme;
}

.joinButton  {
  height: 30px !important;
  border-radius: 30px !important;
  background-color: #4a90e2 !important;
  min-height: 30px !important;
  padding: 5px 12px !important;
  margin-top: 20px !important;
}

.joinButtonLabel {
  color: white;
  font-weight: normal;
}

.accepted {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.acceptedIcon {
  color: #4a90e2;
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px;
}
