.header {
  flex: 1 1 auto;
  position: relative;
  margin-bottom: $s4;
  display: flex;
  justify-content: center;
}

.fieldContainer {
  width: 100%;
}

.field {
  border-bottom-color: $colorDarkFaded;
  max-width: 600px;
}

.error {
  color: $colorRed;
}

.nextButton {
  color: #4a90e2;
  border: 2px solid #4a90e2;
  padding: 5px 20px;
  border-radius: 4px;
  margin-top: 50px;
  font-weight: 500;
}

.nextButtonDisabled {
  opacity: 0.5;
}

.signinButton {
  display: block;
  border: none;
  margin-top: 2rem;
  padding: 0;
  color: $colorTheme;
  font-size: 1.1rem;
}
