.content {
  width: 100%;
  height: 370px;
  padding-top: 50px;
}

.fieldContainer {
  display: flex;
  align-items: flex-end;
  max-width: 600px;
}

.helpText {
  font-size: 14px;
  margin-top: 10px;
  color: $colorGray;
}

.nextButton {
  color: #4a90e2;
  border: 2px solid #4a90e2;
  min-width: 90px;
  padding: 5px;
  border-radius: 4px;
  margin-top: 40px;
  font-weight: 500;
}

.nextButtonDisabled {
  opacity: 0.5;
}

.messageError {
  margin-top: 20px;
  color: $colorRed;
}

.positionStart {
  margin-right: 3px;
}

.input {
  padding: 7px 0px 9px;
}

.errorInput {
  position: absolute;
  right: 0;
  bottom: 15px;
  font-size: 16px;
}

.underline::after {
  border-bottom: 2px solid rgb(159, 159, 159);
}
